*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
}

body {
  color: var(--base-text-color);
  background: var(--base-background-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: var(--font-regular);
  margin: 0;

  /* todo: delete this when home page is done */
  min-height: 1200px;
}

img {
  max-width: 100%;
  min-height: 1px;
  height: auto;
}

:root {
  /* colors */
  --color-black: #000;
  --color-black-base: #172B4D;
  --color-black-light: #344563;
  --color-primary-B50: #EBEBFF;
  --color-primary: #2230D2;
  --color-primary-B600: #4053FC;
  --color-primary-B500: #396DF2;
  --color-primary-B400: #6070FF;
  --color-primary-B300: #7F8CFF;
  --color-neutrals: #FFF;
  --color-neutrals-N5: #5E6C84;
  --color-neutrals-N10: #F7F7F9;
  --color-neutrals-N40: #DFE1E6;
  --color-neutrals-N50: #C1C7D0;
  --color-neutrals-N100: #7A869A;
  --color-neutrals-N400: #6070FF;
  --color-neutrals-N700: #253858;
  --color-neutrals-N800: #172B4D;
  --color-neutrals-N600: #344563;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-thick: 600;
  --font-bold: 700;

  /* font sizes */
  --text-xxxs: 12px;
  --text-xxs: 12px;
  --text-xs: 14px;
  --text-sm: 15px;
  --text-base: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xxl: 32px;
  --text-xxxl: 40px;

  /* base styles */
  --base-font-family: poppins, "Helvetica Neue", helvetica, sans-serif;
  --base-font-size: var(--text-base);
  --base-line-height: 1.2;
  --base-text-color: var(--color-neutrals-N600);
  --base-background-color: var(--color-neutrals-N10);
}
