.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  background-color: var(--color-neutrals);
}

.toolbar .toolbar__logo-wrapper {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
}

.toolbar .toolbar__logo {
  color: var(--color-primary-B400);
  font-weight: var(--font-bold);
  font-size: 18px;
  line-height: 20px;
}

.toolbar .toolbar__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
