.about-me .about-me__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.about-me .about-me__body > *:not(:last-child) {
  margin-bottom: 12px;
}

.about-me .about-me__title h2 {
  font-weight: var(--font-bold);
  font-size: var(--text-xxxl);
  line-height: 52px;
  color: var(--color-neutrals-N800);
}

.about-me .about-me__text {
  line-height: 24px;
}

.about-me .about-me__subtitle {
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  line-height: 24px;
  color: var(--color-primary-B300);
}

.about-me .about-me__actions {
  display: flex;
  flex-direction: column;
}

.about-me .about-me__actions > *:not(:last-child) {
  margin-bottom: 12px;
}

.about-me .about-me__skills-group__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 12px;
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  color: var(--color-black);
  line-height: 24px;
}

.about-me .about-me__skills-list {
  padding: 12px;
}

.about-me .about-me__skills-list__item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--color-neutrals-N10);
  border-radius: 8px;
}

.about-me .about-me__skills-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.about-me .about-me__skills-list__item-image {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.about-me .about-me__skills-list__item-label {
  font-weight: var(--font-medium);
  font-size: var(--text-sm);
  line-height: 20px;
  color: var(--color-neutrals-N700);
}

@media screen and (min-width: 768px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  .about-me .about-me__actions .button {
    margin-top: 12px;
  }

  .about-me .about-me__skills-list {
    display: flex;
    margin: 0 -6px;
  }

  .about-me .about-me__skills-list__item {
    min-width: 120px;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin: 0 6px;
  }

  .about-me .about-me__skills-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .about-me .about-me__skills-list__item-image {
    margin-bottom: 16px;
    margin-right: 0;
  }
}
