.headline {
  padding: 114px 24px 114px 24px;
  background-color: var(--color-neutrals);
  background-image: url(../../assets/images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: center right;
  border-bottom-left-radius: 75px;
  display: flex;
  flex-direction: column;
}

.headline > *:not(:last-child) {
  margin-bottom: 12px;
}

.headline .headline__title {
  font-weight: var(--font-bold);
  font-size: var(--text-xxxl);
  line-height: 52px;
}

.headline .headline__text {
  line-height: 24px;
}
