.header {
  background-color: var(--color-neutrals);
}

.works {
  padding: 114px 24px;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  grid-row-gap: 88px;
}

.about {
  padding: 114px 24px;
  background-color: var(--color-neutrals);
  border-top-right-radius: 75px;
}

@media screen and (min-width: 768px) {
  .works {
    padding: 142px 0;
  }

  .about {
    padding: 142px 0 134px;
    border-top-right-radius: 125px;
  }
}
