a {
  text-decoration: none;
  color: var(--color-primary-B300);
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

hr {
  height: 1px;
  background-color: var(--color-neutrals-N40);
  border: none;
}

button {
  display: inline-flex;
  border: 0;
  background: none;
  padding: 0;
}
