.button {
  font-weight: var(--font-medium);
  font-size: var(--text-md);
  color: var(--color-primary-B500);
  line-height: 24px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--color-primary-B400);
}

.icon-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 8px;
}
